@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

//colors
$color-white: #ffffff;
$color-blue: #4a88f7;
$color-black: #000;
$color-gray: #575757;
$color-light-blue: #ebf6ff;
$color-orange: #ffb648;
$color-orange-btn-border: #d37f00;
$color-green-btn-border: #00791c;
$color-light-green: #89c497;
$color-green: #5cb270;
$color-white-smoke-nav-modal: whitesmoke;

$font-main: "Montserrat";
$font-style: normal;
$font-size-body: 16px;
$font-size-heading: 32px;
$font-weight-light: 300;
$font-weight-main: 400;
$font-weight-bold: 600;
